*{
    box-sizing: border-box;
}

body{
    width: 1100px;
    padding-left: 10px;
}

header{
    background-color: rgba(78,160,255,255);
    height: 100px;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 30%;
    }

#logo{
    width: 180px;
    padding-top: 40px;
    padding-left: 10px;
}

h1{
    margin-bottom: 0;
    font-size: 40px;
}

#publisher {
    color: rgba(35,170,229,255);
}

.credits {
    color: rgba(149,149,149,255);
}

#immagini{
    margin-top: 30px;
}

.credit-photo{
    font-size: 12px;
}

.evidenziato{
    background-color: yellow;
}

#full-table{
    border-collapse: collapse;
}

#title-table{
    color: white;
    background-color: rgba(32,169,229,255);
    text-align: left;
}

.dispari-table{
    background-color: rgba(177,229,242,255);
}

h2{
    font-size: 14px;
    color: grey;
}

.image-footer{
    width: 200px;
    height: 180px;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

#first-footer{
    background-image: url("../img/monitor.jpg");
    background-size: cover;
    background-position: center;
}

#second-footer{
    background-image: url("../img/graph.jpg");
    background-size: cover;
    background-position: center;
}

#larghezzariga{
    width: 60%;
}
